---
- hosts: all
  become: yes
  tasks:

   - name: set sysctl values
     sysctl: name={{item.name}} value={{item.value}} state=present reload=yes
     with_items:
     - {name: "kernel.shmmax", value: 500000000}
     - {name: "kernel.shmmni" , value: 4096}
     - {name: "kernel.shmall" , value: 4000000000}
     - {name: "kernel.sem" , value: "250 512000 100 2048"}
     - {name: "kernel.sysrq" , value: 1}
     - {name: "kernel.core_uses_pid" , value: 1}
     - {name: "kernel.msgmnb" , value: 65536}
     - {name: "kernel.msgmax" , value: 65536}
     - {name: "kernel.msgmni" , value: 2048}
     - {name: "net.ipv4.tcp_syncookies" , value: 1}
     - {name: "net.ipv4.ip_forward" , value: 0}
     - {name: "net.ipv4.conf.default.accept_source_route" , value: 0}
     - {name: "net.ipv4.tcp_tw_recycle" , value: 1}
     - {name: "net.ipv4.tcp_max_syn_backlog" , value: 4096}
     - {name: "net.ipv4.conf.all.arp_filter" , value: 1}
     - {name: "net.ipv4.ip_local_port_range" , value: "1025 65535"}
     - {name: "net.core.netdev_max_backlog" , value: 10000}
     - {name: "net.core.rmem_max" , value: 2097152}
     - {name: "net.core.wmem_max" , value: 2097152}
     - {name: "vm.overcommit_memory" , value: 2}
     
   - name: create gpadmin user
     user: state=present name=gpadmin groups=staff comment="Greenplum Database Administrator"

   - name: setup ssh key
     authorized_key: state=present user=gpadmin key="{{ lookup('file', 'gp_rsa.pub') }}"

   - name: copy in private key
     become: yes
     become_user: gpadmin
     copy: src=gp_rsa dest=~/.ssh/id_rsa mode="u=rw,g-rw,o-rw"

   - name: configure ssh
     become: yes
     become_user: gpadmin
     copy: src=ssh_config dest=~/.ssh/config mode="u=rw,g-rw,o-rw"

   - name: make destination folder
     file: state=directory path=/usr/local/gpdb owner=gpadmin

   - name: setup host names
     lineinfile: dest=/etc/hosts line="{{item.addr}} {{item.host}}"
     with_items:
     - { addr: 192.168.77.21, host: mdw }
     - { addr: 192.168.77.22, host: sdw1 }
     - { addr: 192.168.77.23, host: sdw2 }
     - { addr: 192.168.77.24, host: sdw3 }
     - { addr: 192.168.77.25, host: sdw4 }

   - name: add gpdb path source to bashrc 
     lineinfile: dest=~/.bashrc line="if [ -e /usr/local/gpdb/greenplum_path.sh ]; then source /usr/local/gpdb/greenplum_path.sh; fi"

   - name: make data folders
     file: state=directory path=/{{item}}/primary owner=gpadmin
     with_items:
     - data1
     - data2

   - name: install build pre-requisites
     apt: state=present name={{item}}
     with_items:
     - git-core
     - build-essential
     - gcc
     - g++
     - ccache
     - libreadline-dev
     - bison
     - flex
     - zlib1g-dev
     - openssl
     - libapr1-dev
     - libevent-dev
     - libssl-dev
     - libpam-dev
     - libcurl4-openssl-dev
     - libbz2-dev
     - libffi-dev
     - python-dev
     - ssh
     - python-pip

   - name: install python dependencies
     pip: state=latest name={{item}}
     with_items:
     - setuptools
     - cffi
     - cryptography
     - lockfile
     - paramiko
     - epydoc
     - psutil

- hosts: machine1
  become: yes
  tasks:


   - name: make master data folder
     file: state=directory path=/data/master owner=gpadmin

- hosts: machine1
  become: yes
  become_user: gpadmin
  tasks:

  - name: clone greenplum repo
    git: dest=/tmp/gpdb depth=1 force=yes accept_hostkey=true repo=http://github.com/greenplum-db/gpdb.git
    ignore_errors: yes

  - name: configure greenplum database source code
    shell: ./configure --prefix=/usr/local/gpdb chdir=/tmp/gpdb

  - name: build greenplum database from source
    shell: make && make install chdir=/tmp/gpdb

  - name: copy database configuration
    copy: src={{item}} dest=~/{{item}}
    with_items:
    - gp.config
    - machines.config
    - gp-setup.sh

  - name: initialize greenplum database
    shell: bash ~/gp-setup.sh



